.musicPlayer{
    background-color: #120C1C;
    width: 100%;
    height: 91px;
    position: fixed;
    bottom: 0px;
    border-top: 0.5px solid rgb(155, 154, 154);
    padding: 15px 20px;
}

.musicPlayer .musicInfo{
    display: inline-block;
    height: 64px;
    position: relative;
}

.musicPlayer .musicInfo .image{
    height: 64px;
    width: 64px;
    border-radius: 4px;
    margin-right: 10px;
}

.musicPlayer .musicInfo .songInfo{
    display: inline-block;
    color: #fff;
    width: 150px;
    position: absolute;
    top: 16px;
}

.songInfo .songName{
    font-size: 14px;
    font-weight: 500;
}

.songInfo .singerIcon{
    display: inline-block;
}

.songInfo .singerName{
    display: inline-block;
    font-size: 12px;
    color: #767E70;
}

.musicInfo .musicInfoIcon{
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 244px;
    width: 72px;
}

.musicInfo .likeNoti{
    display: none;
    width: 360px;
    background-color: #432275;
    position: fixed;
    top: 75%;
    left: 0px;
    border-radius: 4px;
    color: #fff;
    margin-left: 16px;
    animation: notiMove ;
    animation-duration: 3s;
}

.musicInfo .likeNoti p{
    padding: 15px;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
}

.musicInfo .likeNoti .iconNoti{
    display: inline-block;
    float: right;
    margin-top: 15px;
    margin-right: 8px;
}

.musicInfo .likeNoti .iconNoti:hover{
    cursor: pointer;
}

@keyframes notiMove{
    0%{
        margin-left: -350px;
    }
    15%{
        margin-left: 16px;
    }
    85%{
        margin-left: 16px;
    }
    100%{
        margin-left: -350px;
    }
}
