.button{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: #120C1C;
    position: relative;
    margin-left: 2px;
    margin-right: 2px;
}

.button:hover{
    background-color: #393243;
    cursor: pointer;
}

.buttonIcon{
    color: #fff;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 6px;
    left: 6px;
    font-size: 16px;
}

.buttonIconSelected{
    color: #670091;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 6px;
    left: 6px;
    font-size: 16px;
}
