.myLibrary{
    padding-top: 15px;
}

.myLibrary .title{
    margin: 0px 28px 8px 28px;
    text-transform: uppercase;
    color: #fefefe;
    font-weight: 700;
    font-size: 12px;
    display: inline-block;
}

.myLibraryItem{
    position: relative;
    padding: 8px 25px;
    font-size: 13px;
    color: #fefefe;
}

.myLibraryItem span{
    position: absolute;
    top: 12px;
    left: 60px;
    text-transform: none;
    font-weight: 300; 
}

.icon{
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.editIcon{
    display: inline-block;
    width: 16px;
    height: 16px;
}

.editButton{
    height: 26px;
    width: 26px;
    border-radius: 50%;
    display: inline-block;
    float: right;
    margin-right: 24px;
    background-color: #231B2E;
    color: white;
}

.editButton:hover{
    background-color: #393243;
    cursor: pointer;
}

.editCheckbox{
    position: fixed;
    /* display: block */
    display: none; 
    top: 0px;
    right: 0px;
    background-color: #432275;
    border-radius: 8px;
    padding: 20px;
    color: white;
    width: 540px;
}

.editCheckbox .subtitle{
    color: gray;
    text-transform: none;
    font-size: 14px;
    font-weight: 700;
    margin-top: 4px;
    margin-bottom: 4px;
}

.button{
    text-align: right;
}

.closeButton{
    padding: 9px 24px;
    border: 1px solid #fefefe;
    border-radius: 999px;
    margin-right: 10px;
    background-color: #543680;
    font-size: 14px;
    line-height: 17px;
    color: white;
    font-weight: 400;
    display: inline-block;
}

.submitButton{
    padding: 9px 24px;
    border: 1px solid #fefefe;
    border-radius: 999px;
    margin-right: 10px;
    background-color: #670091;
    font-size: 14px;
    line-height: 17px;
    color: white;
    font-weight: 400;
    display: inline-block;
}

.closeButton:hover{
    cursor: pointer;
    background-color: #4c2a7e;
    margin-left: 100px;
}

.submitButton:hover{
    cursor: pointer;
    background-color: #58027a;
}

.editCheckboxItem{
    position: relative;
    padding: 12px 0px;
    color: #fefefe;
    cursor: pointer;
}

.editCheckboxItem:hover{
    color: #BE41AC;
}

.editCheckboxItem span{
    position: absolute;
    top: 15px;
    left: 45px;
}
